* {
    margin: 0;
    padding: 0;
}

body {
    z-index: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
}

#nav {
    width: 200px;
    position: fixed;
    height: 100%;
}

#nav-logo-container {
    margin: 20px;
    line-height: 100px;
}

#nav-logo-link {
    text-decoration: none;
}

#nav-logo {
    padding: 10px;
    width: 80px;
    float: left;
}

#nav-title {
    color: #fff;
    font-size: 3em;
    font-weight: 300;
}

#nav-collection {
    font-size: 1.5em;
    list-style: none;
}

.nav-item {

    width: 120px;
    text-align: right;
    margin-left: 20px;
    margin-top: 40px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
}

.nav-item a:hover {
    font-weight: bolder;
}


#experience {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

#landing {
    color: #fff;
}

h1 {
    color: white;
    font-weight: 900;
}

#page-title {
    font-size: 2.5em;
    font-weight: 300;
    margin: 40px;
    position: fixed;
    top: 0;
    right: 0;

    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
    text-transform: uppercase;
}

#page-content {
    font-size: 2em;
    margin-left: 180px;
    margin-right: 120px;
    margin-top: 60px;
}

.landing-content {
    margin-top: 20px;
    text-transform: uppercase;
}

.nav-icon {
    filter: hue-rotate(180deg);
}

.project-section {
    margin-bottom: 40px;
    display: inline-block;
}

.project-section-name{
    font-weight: 600;
    margin-bottom: 20px;
}

.project-section-description {
    text-align: justify;
    margin-bottom: 1em;
}


.project-section-image>img {
    width: 300px;
    float: left;
    border: #fff solid 1px;
    margin-right: 20px;
}

.project-section > svg{
    font-size : 2em;
}

.about-section {
    margin-top: 40px;
}

.about-section>ul {
    display: flex;
    flex-wrap: wrap;
}

.about-section>ul>li {
    margin-left: 40px;
    list-style: none;

}

.contact-section {
    margin-top: 40px;
}

.contact-section>ul>li {
    margin-left: 40px;
    list-style-type: none;
    display: inline;
}

.contact-section svg{
    font-size: 2em;
    color:rgb(66, 132, 255);
}

.social-network-section-icon {
    width: 40px;
    height: 40px;
}

label,
input,
button,
select,
legend,
textarea {
    font-size: 1.3rem;
    line-height: 1.2
}

form {
    margin-top: 1rem;
    width: 30em;
    max-width: 90%;
    margin-left: 40px;
}

label {
    margin-bottom: 0.4rem;
    display: block;
}

input,
textarea {
    padding: 0.4rem;
    width: 100%;
    opacity: 0.95;
}

button {
    background: #4f54bf;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    padding: 0.6rem;
}

button:focus {
    outline: 2px solid green;
}

form > div {
    margin-bottom: 1rem;
}



@media (max-width: 768px) {
    #page-title {
        font-size: 2em;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #page-content {
        font-size: 1.3em;
        margin-left: 80px;
        margin-right: 60x;
        margin-top: 20px;
    }

    #nav {
        width: 100px;
        position: fixed;
        height: 100%;
    }

    #nav-logo-container {
        margin: 10px;
        line-height: 70px;
    }

    #nav-logo-link {
        text-decoration: none;
    }

    #nav-logo {
        padding: 10px;
        width: 50px;
        float: left;
    }

    #nav-title {
        color: #fff;
        font-size: 1.5em;
        font-weight: 300;
    }

    #nav-collection {
        font-size: 1em;
        list-style: none;
    }

    .nav-item {
        width: 20px;
        text-align: left;
        margin-left: 20px;
        margin-top: 20px;

        writing-mode: vertical-rl;
        -webkit-text-orientation: upright;
        text-orientation: upright;
        text-transform: uppercase;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #page-title {
        font-size: 2em;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #page-content {
        font-size: 1.5em;
        margin-left: 180px;
        margin-right: 360px;
        margin-top: 40px;
    }
}

@media (min-width: 1024px) {
    #page-title {
        font-size: 4em;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #page-content {
        font-size: 1.5em;
        margin-left: 180px;
        margin-right: 360px;
        margin-top: 40px;
    }
}