* {
    margin: 0;
    padding: 0;
}

body {
    z-index: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
}

#nav {
    width: 200px;
    position: fixed;
    height: 100%;
}

#nav-logo-container{
    margin: 20px;
    line-height: 100px;
}

#nav-logo-link{
    text-decoration: none;
}

#nav-logo{
    padding: 10px;
    width: 80px;
    float: left;
}

#nav-title{
    color: #fff;
    font-size: 3em;
    font-weight: 300;
}

#nav-collection {
    font-size: 1.5em;
    list-style: none;
}

.nav-item {
    
    width: 120px;
    text-align: right;
    margin-left: 20px;
    margin-top: 40px;
}
.nav-item a {
    color: #fff;
    text-decoration: none;
}

.nav-item a:hover{
    font-weight: bolder;
}


#experience{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

#landing{
    color:#fff;
}

h1{
    color:white;
    font-weight: 900;
}

#page-title{
    font-size: 2.5em;
    font-weight: 300;
    margin: 40px;
    position: fixed;
    top: 0;
    right: 0;

    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    
}

#page-content{
    font-size: 2em;
    margin-left: 180px;
    margin-right: 120px;
    margin-top: 60px;
}

#page-intro{
    margin-top : 10%;
}

@media (max-width: 768px) {
    #page-title{
        font-size: 2em;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #page-content{
        font-size: 1.5em;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 40px;
    }

    #nav {
        width: 100px;
        position: fixed;
        height: 100%;
    }
    
    #nav-logo-container{
        margin: 10px;
        line-height: 70px;
    }
    
    #nav-logo-link{
        text-decoration: none;
    }
    
    #nav-logo{
        padding: 10px;
        width: 50px;
        float: left;
    }
    
    #nav-title{
        color: #fff;
        font-size: 1.5em;
        font-weight: 300;
    }
    
    #nav-collection {
        font-size: 1em;
        list-style: none;
    }
    
    .nav-item {
        width: 20px;
        text-align: left;
        margin-left: 20px;
        margin-top: 20px;
        
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-transform: uppercase;
    }
}