* {
    margin: 0;
    padding: 0;
}

body {
    z-index: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
}

header{
    position: fixed;
    top:0;
    left: 0;
}

#app{
    position: relative;
}

#nav {
    width: 200px;
    position: fixed;
    top:0;
        
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;

    min-height: 100vh;
}

#nav-logo-container {
    margin: 2em;
    line-height: 100px;
}

#nav-logo-container a{
    display: flex;
}

#nav-logo-link {
    text-decoration: none;
}

#nav-logo {
    padding: 10px;
    width: 80px;
    height: 80px;
}

#nav-title {
    color: #fff;
    font-size: 3em;
    font-weight: 300;
}

#nav-collection {
    font-size: 1.8em;
    list-style: none;
}

.nav-item {

    width: 120px;
    text-align: right;
    margin-left: 20px;
    margin-top: 40px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
}

.nav-item a:hover {
    font-weight: bolder;
}

#experience {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -2;
}

#landing {
    color: #fff;
}

h1 {
    color: white;
    font-weight: 900;
}

#page-title {
    font-size: 3em;
    font-weight: 300;
    position: fixed;
    top: .5em;
    right: .5em;

    writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    text-orientation: upright;
    text-transform: uppercase;
}

#page-content {
    font-size: 2em;
    width: 25em;
    margin-left: 9em;
    margin-top: 6em;
    margin-bottom: 6em;
}

.landing-section{
    position:relative;
}
.landing-content {
    position: fixed;
    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align: center;

    min-height: 100vh;
    width: 100vw;

    font-weight: 700;
    font-size: 5em;
    z-index: -1;

    
}

.nav-icon {
    filter: hue-rotate(180deg);
}

.project-section {

    margin: 3.5em 0em 2.5em 0em;
    display: inline-block;
    white-space: pre-line;
    
    
    line-height: 1em;  
}

.project-section-name{
    font-size: 1.2em;
    font-weight: 600;
}

.project-section-catchphrase{
    font-size: .8em;
    width: 100%;
    margin-top: .5em;
    text-align: right;
    color: palevioletred
}

.project-section-description {

    display: inline;
    font-size: .7em;
    margin: .5em 0em;
}

.project-section-image>img {
    width:400px;
    float: left;
    border: #fff solid 1px;
    margin-right: 1em;
    margin-bottom: .5em;
}

.project-section-technologies {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    bottom: 0px;
    font-size: medium;
    color: cyan
}

.project-section-technologies > li {
    list-style: none;
    margin-right: .7em;
    font-size: 1.3em;
}

.about-section {
    margin-top: 2em;
}

.about-section > h2 {
    margin: .3em 0em;
}

.about-section>ul {
    
    display: flex;
    flex-wrap: wrap;
    margin-left: .2em;
}

.about-section>ul>li {
    list-style: none;
    margin: .4em;
}

.contact-section {
    margin-top: 1em;
}

.contact-section h3{
    font-size: .8em;
}

.contact-section>ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.contact-section>ul>li {
    line-height: 1.5em;
    margin-right: .5em;
}

.icon-social{
    width: 1.5em;
    height: 1.5em;

}

label,
input,
button,
select,
legend,
textarea {
    font-size: 1.3rem;
    line-height: 1.2
}

form {
    margin-top: 1rem;
    width: 30em;
    max-width: 90%;
    margin-left: 2rem;
}

label {
    margin-bottom: 0.4rem;
    display: block;
}

input,
textarea {
    padding: 0.4rem;
    width: 100%;
    opacity: 0.95;
}
textarea{
    height: 6em;
}

button {
    background: #4f54bf;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    height: 2em;
}

#contactBtn{
    width: 8em;
}

button:focus {
    outline: 2px solid green;
}

form > div {
    margin-bottom: .5em;
}

.captchaSpan{
    float: left;
    margin: 1rem 1rem;
    width: 100%;
    
}

.negativeSpan{
    color: crimson;
}

.positiveSpan{
    color: lightgreen;
}

footer{
    font-size: .7em;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
}



@media (max-width: 1700px){

    .landing-content {
        width: 80%;
        margin-left: 10%;
    }


}

@media (max-width: 1400px){
    .landing-content {
        width: 80%;
        margin-left: 15%;
    }

}

@media (max-width: 1200px) {

    #page-title {
        font-size: 3em;
    }

    #page-content{
        margin-left: 6.5em;
        margin-right: 6.5em;
        margin-top: 5em;
        width: auto;
    }

    .project-section{
        margin-top: 2em;
    }

    .project-section-image>img {
        width: 350px;
        float: left;
        border: #fff solid .1px;
        margin-right: 1em;
    }
    
    .about-section {
        margin-top: 2em;
    }

    .landing-content {
        width: 64vw;
        margin-left: 22vw;
        margin-right: 12vw;
    }



}

@media (max-width: 1024px) {

    #page-title {
        font-size: 2em;
        margin-top: .1em;
        margin-right: .1em;
    }

    #page-content{
        margin-left: 3em;
        margin-right: 4em;
        margin-top: 3em;
        width: auto;
    }

    .project-section{
        margin-top: 3em;
        margin-bottom :0em;
    }
    
    .project-section-image>img {
        width: 350px;
        float: left;
        border: #fff solid .1px;
        margin-right: 1em;
    }

    
    .landing-content {
        font-size: 5em;
        width: 84vw;
        margin-left: 8vw;
        margin-right: 8vw;
    }

    #nav {
        width: 4em;
        position: fixed;
        height: 100%;
    }

    #nav-logo-container {
        margin: 10px;
        line-height: 70px;
    }

    #nav-logo-link {
        text-decoration: none;
    }

    #nav-logo {
        padding: 10px;
        width: 50px;
        float: left;
    }

    #nav-title {
        color: #fff;
        font-size: 1.5em;
        font-weight: 300;
    }

    #nav-collection {
        font-size: 1.2em;
        list-style: none;
        width: 15vw;
    }

    .nav-item {
        width: 4vw;
        writing-mode: vertical-rl;
        -webkit-text-orientation: upright;
        text-orientation: upright;
        text-transform: uppercase;
    }

    .nav-item a{
        width: 1em;
    }

    footer{
        writing-mode: vertical-rl;
        margin: 0em;
        margin: 3em;
        font-size: .1em;
    }


    form {
        margin-left: 0px;
        margin-right: 0px;
    }

    .icon-social{
        float: left;
    }

    .project-section-image>img {
        float: left;
        border: #fff solid 1px;
        margin-right: 1em;
    }

    .about-section{
        margin-top: 1em;
        font-size: .8em;
    }

    .captchaSpan{
        margin: 2rem 0rem;
    }

    #nav-logo {
        width: 50px;
        height: 50px;
    }



}

@media (max-width: 800px)
{

    #page-content{
        margin-left: 3em;
        margin-right: 3em;
        margin-top: 3em;
        width: auto;
        font-size: 1.75em;
    }

    .project-section{
        margin-top: 1em;
        margin-bottom : 3em;
    }

    
    .project-section-catchphrase{
        margin-bottom : 1em;
        text-align: left;
    }


    .project-section-image>img {
        width: 100%;
        float: left;
        border: #fff solid 1px;
    }

    .project-section-name{
        display: inline-block;
        margin: .5em 0em;
    }

    .project-section-description{
        display: inline-block;
        margin: 0em 0em;
    }

    .about-section>h2{
        margin-bottom: .5em;
    }

    .g-recaptcha{
        transform:scale(0.8);
        -webkit-transform:scale(0.8);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    
    }



}

@media (max-width: 600px)
{
    .landing-content {
        font-size: 3em;
        width: 72vw;
        margin-left: 14vw;
        margin-right: 14vw;
    }

    .nav-item{
        font-size: .8em;
    }
}

@media (max-width: 310px)
{
    .landing-content {
        font-size: 2em;
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .nav-collection{
        width: 3em;
    }

    .nav-item{
        font-size: .6em;
        margin: 3em .2em;
        max-width: 20vw;
    }

    #nav{
        max-width: 20vw;
    }

    #nav-logo{
        height: 35px;
        width: 35px;
    }

    #nav-title{
        font-size: 1em;
        line-height: 55px;
    }

    #page-content {
        margin-left: 12.5vw;
        margin-right: 12.5vw;
        margin-top: 3em;
        width: 70vw;
        font-size: 1.3em;
    }

    #page-title{
        font-size: 1.5em;
        top: .3em;
        right: .3em;
        margin: 0;
        padding: 0;
    }

    .project-section{
        margin-bottom: 1em;
    }



    .project-section-technologies{
        font-size: .5em;
    }
    .project-section-name{
        font-size: 1em;
    }

    .project-section-image>img {
        width: 70vw;
        float: left;
        border: #fff solid 1px;
    }

    .g-recaptcha{
        transform:scale(0.63);
        -webkit-transform:scale(0.63);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    
    }
}

.lightbox-on{
    position: fixed;
    margin: auto;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index:30;
    text-align: center;
    overflow: hidden;
        
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.lightbox-on >img{
    
    max-width: 95%;
    max-height: 95%;
}


